.container {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.columnCards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  margin-top: 5px;
  width: 400px;
}

.chartContainer {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chartCard {
  width: 100%;
}

.tableContainer {
  width: 100%;
  margin-top: 20px;
}

.tableProductsContainer {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pieChartsContainer {
  width: 90%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fiscalYearContainer {
  width: 90%;
  margin-bottom: 20px;
  border-bottom: 1px solid #dcdcdc;
}
