.companyContainer {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.companyCard {
  margin-top: 30px;
}

.companyCardContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.companyTerms {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.companyData {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
