.salesContainer {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.salesPeriodTime {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 55%;
}

.inputsContainer {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #dcdcdc;
}

.cardInputs {
  width: 90%;
  min-height: 60%;
  max-height: 70%;
}

.button {
  margin-top: 15px;
}

.tablePeriodContainer {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.salesPeriodTable {
  width: 96%;
  max-height: 375px;
}

.allSales {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
